<div class="row">
    <div class="col-md-6">
        <div class="shoe-details">
            <div class="image-container">
                <img src="assets/images/pdp_footbed_regular.webp" alt="Shoe Parts">
                <div class="numbers-overlay">
                    <button *ngFor="let part of shoeParts" (click)="selectPart(part)" [style.left.px]="part.x"
                        [style.top.px]="part.y">
                        {{ part.number }}
                    </button>
                </div>
            </div>
        
            <div class="part-details" *ngIf="selectedPart">
                <h3>{{ selectedPart.name }}</h3>
                <img [src]="selectedPart.imageUrl" alt="{{ selectedPart.name }}">
                <p>{{ selectedPart.description }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="shoe-details">
            <div class="image-container">
                <img src="assets/images/pdp_footbed_regular.webp" alt="Shoe Parts">
                <div class="numbers-overlay">
                    <button *ngFor="let part of shoeParts" (click)="selectPart(part)" [style.left.px]="part.x"
                        [style.top.px]="part.y">
                        {{ part.number }}
                    </button>
                </div>
            </div>
        
            <div class="part-details" *ngIf="selectedPart">
                <h3>{{ selectedPart.name }}</h3>
                <img [src]="selectedPart.imageUrl" alt="{{ selectedPart.name }}">
                <p>{{ selectedPart.description }}</p>
            </div>
        </div>
    </div>
</div>